.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.white.table {
  color: white;
}

.white {
  color: white;
}
